* {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #559955;
}

input, button {
    border-style: solid;
    border-color: #559955;
    border-width: 1px;
    padding: 0.25em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 0;
}