<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The List: tracking media to consume</title>
</head>
<body>
    <h1>The List</h1>
    <h2>tracking media to consume</h2>
    <ul>
        <li>Con Air</li>
        <li>Mandy</li>
        <li>Pig</li>
        <li>Color Out Of Space</li>
        <li>Bad Lieutenant: Port of Call New Orleans</li>
    </ul>
    <form>
        <label for="title">Film Title</label>
        <input type="text" id="title" name="title" />
        <button type="submit" value="Submit">Submit</button>
    </form>
</body>
</html>